fint:
  metamodel:
    base-url: http://fint-core-consumer-metamodel:8080
  security:
    component: false
    org-id: false
    role-type: adapter
    open-paths: |
      /api-docs/**,
      /swagger/**,
      /actuator/health,
      /ready,
      /offset
  kafka:
    enable-ssl: true

novari:
  kafka:
    topic:
      org-id: fintlabs-no
      domain-context: fint-core
    application-id: provider
    producer:
      linger: 10ms
      batch-size: 64KB

spring:
  kafka:
    consumer:
      group-id: provider
  webflux:
    base-path: /provider
  http:
    codecs:
      max-in-memory-size: 200MB

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger/ui

logging:
  level:
    root: INFO
    org.apache.kafka: WARN
server:
  netty:
    connection-timeout: 600000
  tomcat:
    threads:
      max: 400
    max-connections: 30000
